.vscode/settings.json
info.json
cogs/__pycache__/errorhandler.cpython-37.pyc
.gitignore
cogs/__pycache__/moderation.cpython-37.pyc
cogs/__pycache__/fun.cpython-37.pyc
cogs/__pycache__/moderation.cpython-37.pyc
